body {
    background-color: #F5FCCE;
}

#result {
	position: relative;
	height:315px;
	width:851px;  
}

#result > div {
	position: absolute;
	left: 0;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}