<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Ik ben op kamp</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
	<script src="{{ url_for('static', filename='preview.js') }}"></script> 

</head>
<body class="container">
	<h1>Ik ben op kamp</h1>
	<h6>Maak hier je "Ik ben op kamp" banner!</h6>
	<p>	Selecteer eerst een template uit de lijst, daarna kan je uw kamp adres ingeven. Heb je dit gedaan? Druk dan op Download! Jouw nieuwe facebook banner kan je nu downloaden en op facebook plaatsen!</p>
	<form action="/generate" method="POST">
		<div class="form-group">
			<label>Template:</label>
			<select  class="form-control" name="image" id="image" required>
				<option value="b2-1" selected>Banner 1</option>
				<option value="b2-2">Banner 2</option>
				<option value="b2-3">Banner 3</option>
				<option value="b2-4">Banner 4</option>
				<option value="b2-5">Banner 5</option>
				<option value="b2-6">Banner 6</option>
				<option value="1">Banner 7</option>
				<option value="2">Banner 8</option>
				<option value="3">Banner 9</option>
				<option value="4">Banner 10</option>
				<option value="5">Banner 11</option>
				<option value="6">Banner 12</option>
				<option value="7">Banner 13</option>
				<option value="8">Banner 14</option>
				<option value="9">Banner 15</option>
				<option value="10">Banner 16</option>
				<option value="11">Banner 17</option>
				<option value="12">Banner 18</option>
			</select>
		</div>
		<div class="form-group">
			<label>Tekst:</label>
			<textarea class="form-control" name="tekst" id="tekst" placeholder="Jouw kamp adres" rows="5"></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Download</button>
	</form>
	<br>
	<div id="result"></div>
	<br>
	<footer>
	<a href="https://github.com/icecoldfire/">Stijn Goethals</a> &copy; 2018
	<br/>
	Check code on <a href="https://github.com/icecoldfire/opkamp">Github</a> - Contributors: <a href="https://github.com/johannesBe/">johannes.berge</a>
	<br/>
	<a href="https://www.facebook.com/PloegZingevingScoutsGidsenVlaanderen/">Ploeg Zingeving</a> - <a href="https://www.facebook.com/groups/1624743751070603/">Ploeg Informatica</a> - <a href="https://www.scoutsengidsenvlaanderen.be/">Scouts & Gidsen Vlaanderen</a>
	<br/>
	</footer>
</body>
</html>